doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/styles/ftwsr.css')
  title TITLE
.app
  .hero
    h1.header Islamic Research
  .nav
    .drop-down
    h2.menu-prompt Get Started
    a.nav-button(href='/') Home
    a.nav-button(href='/reason/0') For Those Who Seek Reason
    a.nav-button(href='https://quran-memo.netlify.app/') Quran Memo
  .main
    .textarea
      h2.title= title
      p.text-body= textbody 


