<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>TITLE</title>
</head>
<body>
    <div class="app">
        <div class="hero">
            <h1 class="header">Islamic Research</h1>
        </div>
        <div class="nav">
            <div class="drop-down"></div>
            <h2 class="menu-prompt">Get Started</h2>
            <a href="/" class="nav-button">Home</a>
            <a href="/reason/0" class="nav-button">For Those Who Seek Reason</a>
            <a href="https://quran-memo.netlify.app/" class="nav-button">Quran Memo</a>
        </div>
        <div class="main">

        </div>
    </div>
</body>
</html>